<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head></head>
<body>

<div th:fragment="footer" th:remove="tag">

    <footer class="footer">
        <div class="container-fluid py-5">

        </div>

        <div class="container fixed-bottom">
            <p class="text-muted">&copy;CircleCI is a pain in the arse</p>
            <span sec:authorize="isAuthenticated()">
                | Logged user: <span sec:authentication="name"></span> |
                Roles: <span sec:authentication="principal.authorities"></span> |
                <a th:href="@{/logout}">Sign Out</a>
            </span>
        </div>
    </footer>

    <div th:replace="fragments/scripts :: commmon"></div>

</div>

</body>
</html>
