<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="head (title)">

  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="description" content=""/>
  <meta name="author" content=""/>


  <title>Study Space Booking App</title>

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"
  rel="stylesheet" media="all"/>

  <link href="../css/typicons.min.css"
  th:href="@{/webjars/typicons/2.0.7/typicons.min.css}"
  rel="stylesheet" media="all"/>


</head>
<body>


<div class="container-fluid bg-danger text-white" th:fragment="header" sec:authorize="isAuthenticated()">
  <h3 class="p-1">
    UoB Engineering Study Space Booking App
    <a href="/home"><span class="typcn typcn-home text-white float-right"></span></a>
  </h3>
</div>

<div class="container-fluid bg-danger text-white" th:fragment="header" sec:authorize="isAnonymous()">
<h3 class="p-1">
  UoB Engineering Study Space Booking App
</h3>
</div>

</body>
</html>
