<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head></head>
<body>

<div th:fragment="user_modal" th:remove="tag">


    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="userModalLabel">User:</h5>
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-borderless">
                        <tr>
                            <th>Name:</th>
                            <td><span th:text="${user.getName()}"/></td>
                        </tr>
                        <tr>
                            <th>ID:</th>
                            <td><span th:text="${user.getId()}"/></td>
                        </tr>
                        <tr>
                            <th>Email:</th>
                            <td><span th:text="${user.getUsername()}"/></td>
                        </tr>
                        <tr>
                            <th>Faculty:</th>
                            <td><span th:text="${user.getFaculty()}"/></td>
                        </tr>
                        <tr>
                            <th>Role</th>
                            <td><span th:text="${user.getRole()}"/></td>
                        </tr>
                        <tr>
                            <th>Password</th>
                            <td><span th:text="${user.getPassword()}"/></td>
                        </tr>
                        <tr>
                            <th>Blacklisted:</th>
                            <td><span th:text="${user.getBlacklisted()}"/></td>
                        </tr>
                        <tr>
                            <th>Bookings:</th>
                            <td>
                                <a th:href="@{'/user/' + ${user.getUsername()} + '/bookings'}">
                                    <span th:text="${user.getNumberOfBookings()}"></span></a>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="row">
                    <div class="col-6">
                        <button class="btn btn-danger text-center btn-block"
                                data-toggle="collapse"
                                data-target="#collapsible1">Delete User
                        </button>
                        <div id="collapsible1" class="collapse">
                            <div class="container">
                                <p class="pt-3">Are you sure you want to delete this
                                    user?</p>
                                <form action="#"
                                      th:action="@{'/user/delete/' + ${user.getId()}}"
                                      method="post">
                                    <button type="submit"
                                            class="btn btn-danger text-center btn-block">
                                        Yes,
                                        delete
                                        this user.
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <button class="btn btn-danger text-center btn-block"
                                data-toggle="collapse" data-target="#collapsible2"
                                th:if="${user.getBlacklisted()}">Unblacklist User
                        </button>
                        <button class="btn btn-danger text-center btn-block"
                                data-toggle="collapse" data-target="#collapsible2"
                                th:unless="${user.getBlacklisted()}">Blacklist User
                        </button>
                        <div id="collapsible2" class="collapse">
                            <div class="container">
                                <p class="pt-3" th:if="${user.getBlacklisted()}">Are you
                                    sure you want to unblacklist this student?</p>
                                <p class="pt-3" th:unless="${user.getBlacklisted()}">Are
                                    you sure you want to blacklist this student?</p>
                                <form action="#" th:if="${user.getBlacklisted()}"
                                      th:action="@{'/user/unblacklist/' + ${user.getId()}}"
                                      method="post">
                                    <button type="submit"
                                            class="btn btn-danger text-center btn-block">
                                        Yes, unblacklist this student.
                                    </button>
                                </form>
                                <form action="#" th:unless="${user.getBlacklisted()}"
                                      th:action="@{'/user/blacklist/' + ${user.getId()}}"
                                      method="post">
                                    <button type="submit"
                                            class="btn btn-danger text-center btn-block">
                                        Yes, blacklist this student.
                                    </button>
                                </form>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>
