<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/header :: head (title='Booking')">
</head>
<body>


<div th:replace="fragments/header :: header">&nbsp;</div>

<div class="container">
    <div class="row">
        <div class="col-md-8 starter-template">

            <h1>Rooms</h1>
            <table class="table">
                <thead>
                <td>booking id</td>
                <td>date time</td>
                <td>room</td>
                <td>user</td>
                </thead>
                <tr th:each="booking: ${bookings}">

                    <td><span th:text="${booking.id}"/></td>

                    <td><span th:text="${booking.dateTime}"/></td>

                    <td><span th:text="${booking.room.getId()}"/></td>

                    <td><span th:text="${booking.user.getId()}"/></td>
                </tr>
            </table>


            <a class="btn btn-default" href="/room/add">Add a new Room</a>
        </div>
    </div>
</div>




<div th:replace="fragments/footer :: footer">...</div>
</body>
</html>
