
<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/header :: head (title='Add Booking')">
</head>

<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
    <div class="row">
        <h1>New Booking</h1>
        <form action="#" th:action="@{/booking}" th:object="${bookingRequest}" method="post" class="form-inline">
            <div class="form-group">
                <label for="dateTime">dateTime</label>
                <input type="datetime-local" th:field="*{dateTime}" class="form-control" id="dateTime" placeholder="Enter date time"/>
            </div>
            <div class="form-group">
                <label for="duration">duration</label>
                <input type="text" th:field="*{duration}" class="form-control" id="duration"
                       placeholder="Enter duration"/>
            </div>
            <div class="form-group">
                <label for="roomNo">roomNo</label>
                <input type="text" th:field="*{roomNo}" class="form-control" id="roomNo"
                       placeholder="Enter roomNo"/>
            </div>
            <div class="form-group">
                <label for="building">building</label>
                <input type="text" th:field="*{building}" class="form-control" id="building"
                       placeholder="Enter building"/>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>

        </form>
    </div>
</div>
<div th:replace="fragments/footer :: footer">...</div>
</body>
