<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/header :: head (title='Room')">
</head>
<body>


<div th:replace="fragments/header :: header">&nbsp;</div>

<div class="container-fluid pt-1">
    <div class="row">
        <div class="col-md-8 col-12 mx-auto">
            <h2>Make a Booking:</h2>
            <form action="#" th:action="@{/booking/add}" th:object="${bookingRequest}" method="post">
                <div class="form-group row">
                    <label for="startDateTime" class="col-2 col-form-label">Date and Time:</label>
                    <div class="col-md-10 ml-md-0 col-9 ml-3">
                        <input class="form-control" type="datetime-local" th:field="*{startDateTime}" id="startDateTime"  required="true">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="duration" class="col-2 col-form-label">Duration (Hours)</label>
                    <div class="col-md-10 ml-md-0 col-9 ml-3">
                        <input type="number" th:field="*{duration}" class="form-control" id="duration" placeholder="Enter duration" required="true"/>
                    </div>
                </div>

                <div th:if="${dateInPast}" class="container pb-2">
                    <h6>Please select a date in the future.</h6>
                </div>

                <div th:if="${dateMoreThanTwoWeeksAway}" class="container pb-2">
                    <h6>Please select a date less than two weeks away.</h6>
                </div>

                <div th:if="${durationNotValid}" class="container pb-2">
                    <h6>Please select a positive duration less than 3 hours.</h6>
                </div>
                <div th:if="${moreThan4HoursBookedToday}" class="container pb-2">
                    <h6>You cannot book more than 4 hours within a day</h6>
                </div>
                <button type="submit" class="btn btn-danger btn-block">Submit</button>
            </form>
        </div>
    </div>
</div>


<div th:replace="fragments/footer :: footer">...</div>
</body>
</html>

