<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">

<head th:include="fragments/header :: head (title='Room')">
</head>
<body>


<div th:replace="fragments/header :: header">&nbsp;</div>

<div class="container pt-5" sec:authorize="hasAuthority('admin')">
    <div class="row">
        <div class="col-md-6 col-12 mx-auto">
            <div class="container">
                <a href="/bookings" class="btn btn-danger text-center btn-block">View Bookings</a>
                <a href="/booking/add" class="btn btn-danger text-center btn-block">Make a Booking</a>
                <a href="/rooms" class="btn btn-danger text-center btn-block">View Rooms</a>
                <a href="/room/add" class="btn btn-danger text-center btn-block">Add a Room</a>
                <a href="/users" class="btn btn-danger text-center btn-block">View Users</a>
                <a href="/user/add" class="btn btn-danger text-center btn-block">Add a User</a>
                <a href="/statistics" class="btn btn-danger text-center btn-block">View Statistics</a>
                <a href="logout" class="btn btn-danger text-center btn-block">Logout</a>
            </div>
        </div>
    </div>
</div>

<div class="container pt-5" sec:authorize="hasAuthority('student')">
    <div class="row">
        <div class="col-md-6 col-12 mx-auto">
            <div class="container">
                <div class="container text-center" th:if="${blacklisted}">
                    <h2>You have been blacklisted. You will not be able to make any new bookings. Please speak to an administrator for more information.</h2>
                </div>
                <a href="/bookings" class="btn btn-danger text-center btn-block">View Bookings</a>
                <a href="/booking/add" class="btn btn-danger text-center btn-block" th:unless="${blacklisted}">Make a Booking</a>
                <a href="/rooms" class="btn btn-danger text-center btn-block">View All Rooms</a>
                <a href="/logout" class="btn btn-danger text-center btn-block">Logout</a>
            </div>
        </div>
    </div>
</div>


<div th:replace="fragments/footer :: footer">...</div>
</body>
</html>
