<!DOCTYPE html>
<html lang="en">
<head>
  <title>Study Space Booking App</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css" integrity="sha256-BJ/G+e+y7bQdrYkS2RBTyNfBHpA9IuGaPmf9htub5MQ=" crossorigin="anonymous" />
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="icon" href="favicon.ico" type="image/x-icon">
</head>
<body>



<div class="container-fluid bg-danger text-white">
  <h3 class="p-1">
    UoB Engineering Study Space Booking App
    <a href="userhome"><span class="oi oi-home text-white float-right" aria-hidden="true"></span></a>
  </h3>
</div>

<div class="container pt-md-5 pt-1">
  <div class="row">
    <div class="col-md-6 col-12 mx-auto">
      <div class="container">
        <h2 class="text-center pb-2">Login details incorrect. Please try again.</h2>
        <a href="index" class="btn btn-danger text-center btn-block">Take me back to the login page</a>
      </div>
    </div>
  </div>
</div>


</body>
</html>
