<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/header :: head (title='Room')">
</head>
<body>


<div th:replace="fragments/header :: header">&nbsp;</div>

<div class="container pt-1">
    <div class="row">
        <div class="col-md-8 col-12 mx-auto">
            <h3>Select a Room:</h3>
            <div class="row">
                <div class="col-2">Date:</div>
                <div class="col-10">
                    <span th:text="${bookingRequest.getStartDateTime()}"/>
                </div>
            </div>
            <div class="row">
                <div class="col-2">Duration:</div>
                <div class="col-10">
                    <span th:text="${bookingRequest.getDuration()}"/>
                </div>
            </div>

            <div th:if="${rooms.isEmpty()}" class="container text-center">
                <h2 class="pt-5 pb-3">There are no available rooms at this time</h2>
                <a href="/booking/add2" class="btn btn-danger text-center">Select a different date and time</a>
            </div>

            <div th:unless="${rooms.isEmpty()}"class="container-fluid">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Building</th>
                        <th>Room</th>
                        <th>Capacity</th>
                        <th>Confirm Booking</th>
                    </tr>
                    </thead>
                    <tr th:each="room: ${rooms}">
                        <td><span th:text="${room.roomNo}"/></td>
                        <td><span th:text="${room.building}"/></td>
                        <td><span th:text="${room.capacity}"/></td>
                        <td>
                            <form th:action="@{'/booking/add2/room/' + ${room.getBuilding()} + '/' + ${room.getRoomNo()}}"
                                  th:object="${bookingRequest}" method="post">
                                <button type="submit" class="btn btn-danger btn-block">select</button>
                            </form>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>


<div th:replace="fragments/footer :: footer">...</div>
</body>
</html>

