<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">

<head th:include="fragments/header :: head (title='Room')">
</head>
<body>


<div th:replace="fragments/header :: header">&nbsp;</div>

<div class="container-fluid pt-1">
    <div class="row">
        <div class="col-md-8 col-12 mx-auto">

            <div th:if="${rooms.isEmpty()}" class="container text-center">
                <h2 class="pt-5 pb-3">There are no rooms</h2>
                <a href="/room/add" class="btn btn-danger text-center" sec:authorize="hasAuthority('admin')">Add a new room</a>
            </div>

            <div th:unless="${rooms.isEmpty()}">
                <h2>Rooms:
                    <a href="/room/add/" class="btn btn-danger float-right" sec:authorize="hasAuthority('admin')">
                        <span class="typcn typcn-plus text-white"></span>
                    </a>
                </h2>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Building</th>
                        <th>Room</th>
                        <th>Capacity</th>
                        <th sec:authorize="hasAuthority('admin')">Info</th>
                    </tr>
                    </thead>
                    <tr th:each="room: ${rooms}">

                        <td><span th:text="${room.getRoomNo()}"/></td>

                        <td><span th:text="${room.getBuilding()}"/></td>

                        <td><span th:text="${room.getCapacity()}"/></td>

                        <td sec:authorize="hasAuthority('admin')">
                            <button type="button" class="btn btn-danger" data-toggle="modal"
                                    data-target="#roomModal" th:attrappend="data-target=${room.getId()}">
                                <span class="typcn typcn-info-large text-white"></span>
                            </button>
                            <div class="modal fade" id="roomModal" tabindex="-1" role="dialog" data-backdrop="false"
                                 aria-labelledby="roomModalLabel" aria-hidden="true" th:attrappend="id=${room.getId()}">
                                <div th:replace="fragments/room_modal :: room_modal">...</div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>


<div th:replace="fragments/footer :: footer">...</div>
</body>
</html>

