<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/header :: head (title='Room')">
</head>
<body>


<div th:replace="fragments/header :: header">&nbsp;</div>

<!--<div class="container">-->
    <!--<div class="row">-->
        <!--<div class="col-md-8 starter-template">-->

            <!--<h1>Rooms</h1>-->
            <!--<table class="table">-->
                <!--<thead>-->
                <!--<td>Building</td>-->
                <!--<td>Room Number</td>-->
                <!--<td>Capacity</td>-->
                <!--</thead>-->
                <!--<tr th:each="room: ${rooms}">-->

                    <!--<td><span th:text="${room.roomNo}"/></td>-->

                    <!--<td><span th:text="${room.building}"/></td>-->

                    <!--<td><span th:text="${room.capacity}"/></td>-->
                <!--</tr>-->
            <!--</table>-->


            <!--<a class="btn btn-default" href="/room/add">Add a new Room</a>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<div class="container" th:switch="${rooms}">
    <h2 th:case="null">No users yet!</h2>
    <div th:case="*">
        <h2>Users</h2>
        <table>
            <thead>
            <tr>
                <th>roomNo</th>
                <th>building</th>
                <th>capacity</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="room : ${rooms}">
                <td th:text="${room.roomNo.name}"></td>
                <td th:text="${room.building}"></td>
                <td th:text="${room.capacity}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/signup">Add a new user</a></p>
</div>



<div th:replace="fragments/footer :: footer">...</div>
</body>
</html>
