<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/header :: head (title='Room')">
</head>
<body>


<div th:replace="fragments/header :: header">&nbsp;</div>

<div class="container-fluid pt-1">
    <div class="row">
        <div class="col-md-8 col-12 mx-auto">
            <h2>Add a User:</h2>
            <form action="#" th:action="@{/user/add}" th:object="${user}" method="post">

                <div class="form-group row">
                    <label for="username" class="col-2 col-form-label">Email</label>
                    <div class="col-md-10 ml-md-0 col-9 ml-3">
                        <input type="email" th:field="*{username}" class="form-control" id="username" placeholder="Enter email"  required="true"/>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="name" class="col-2 col-form-label">Name</label>
                    <div class="col-md-10 ml-md-0 col-9 ml-3">
                        <input type="text" th:field="*{name}" class="form-control" id="name" placeholder="Enter name"  required="true"/>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="password" class="col-2 col-form-label">Password</label>
                    <div class="col-md-10 ml-md-0 col-9 ml-3">
                        <input type="text" th:field="*{password}" class="form-control" id="password" placeholder="Enter password"  required="true"/>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="faculty" class="col-2 col-form-label">Faculty</label>
                    <div class="col-md-10 ml-md-0 col-9 ml-3">
                        <input type="text" th:field="*{faculty}" class="form-control" id="faculty" placeholder="Enter faculty"  required="true"/>
                    </div>
                </div>



                <button type="submit" class="btn btn-danger btn-block">Submit</button>
            </form>
        </div>
    </div>
</div>


<div th:replace="fragments/footer :: footer">...</div>
</body>
</html>

