<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/header :: head (title='Room')">
</head>
<body>


<div th:replace="fragments/header :: header">&nbsp;</div>


<div class="container-fluid pt-1">
    <div class="row">
        <div class="col-md-8 col-12 mx-auto">
            <div th:if="${users.isEmpty()}" class="container text-center">
                <h2 class="pt-5 pb-3">There are no users</h2>
                <a href="/user/add" class="btn btn-danger text-center">Add a user</a>
            </div>

            <div th:unless="${users.isEmpty()}">
                <h2>Users:
                    <a href="/user/add" class="btn btn-danger float-right">
                        <span class="typcn typcn-plus text-white"></span>
                    </a>
                </h2>
                <div class="container-fluid overflow-auto">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>ID</th>
                            <th>Email</th>
                            <th>Faculty</th>
                            <th>Role</th>
                            <th>Info</th>
                        </tr>
                        </thead>
                        <tr th:each="user: ${users}">
                            <td><span th:text="${user.getName()}"/></td>
                            <td><span th:text="${user.getId()}"/></td>
                            <td><span th:text="${user.getUsername()}"/></td>
                            <td><span th:text="${user.getFaculty()}"/></td>
                            <td><span th:text="${user.getRole()}"/></td>
                            <td>
                                <button type="button" class="btn btn-danger" data-toggle="modal"
                                        data-target="#userModal" th:attrappend="data-target=${user.getId()}">
                                    <span class="typcn typcn-info-large text-white"></span>
                                </button>
                                <div class="modal fade" id="userModal" tabindex="-1" role="dialog"
                                     aria-labelledby="userModalLabel" aria-hidden="true" th:attrappend="id=${user.getId()}">
                                    <div th:replace="fragments/user_modal :: user_modal">...</div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<div th:replace="fragments/footer :: footer">...</div>
</body>
</html>
