<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">

<head th:include="fragments/header :: head (title='Room')">
</head>
<body>


<div th:replace="fragments/header :: header">&nbsp;</div>


<div class="container-fluid pt-1">
    <div class="row">
        <div class="col-md-8 col-12 mx-auto">
            <div th:if="${bookings.isEmpty()}" class="container text-center">
                <h2 class="pt-5 pb-3">You haven't made any bookings yet</h2>
                <a href="/booking/add2" class="btn btn-danger text-center">Make a Booking</a>
            </div>
            <div th:unless="${bookings.isEmpty()}">
                <h2>Bookings:</h2>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Duration (Hours)</th>
                            <th>RoomNo</th>
                            <th>Building</th>
                            <th sec:authorize="hasAuthority('admin')">User</th>
                            <th>Info</th>
                        </tr>
                        </thead>
                        <tr th:each="booking: ${bookings}">
                            <td><span th:text="${#dates.format(booking.getStartDateTime(), 'dd-MMMMM-yyyy')}"/></td>
                            <td><span th:text="${#dates.format(booking.getStartDateTime(), 'HH:mm')}"/></td>
                            <td><span th:text="${booking.getDuration()}"/></td>
                            <td><span th:text="${booking.room.getRoomNo()}"/></td>
                            <td><span th:text="${booking.room.getBuilding()}"/></td>
                            <td sec:authorize="hasAuthority('admin')">
                                <div th:with="user=${booking.getUser()}">
                                    <button type="button" class="btn btn-link" data-toggle="modal"
                                            data-target="#userModal" th:attrappend="data-target=${user.getId()}">
                                        <span th:text="${user.getUsername()}"/>
                                    </button>
                                    <div class="modal fade" id="userModal" tabindex="-1" role="dialog"
                                         aria-labelledby="userModalLabel" aria-hidden="true"
                                         th:attrappend="id=${user.getId()}">
                                        <div th:replace="fragments/user_modal :: user_modal">...</div>
                                    </div>
                                </div>

                            </td>
                            <td>
                                <button type="button" class="btn btn-danger" data-toggle="modal"
                                        data-target="#bookingModal" th:attrappend="data-target=${booking.getId()}">
                                    <span class="typcn typcn-info-large text-white"></span>
                                </button>
                                <div class="modal fade" id="bookingModal" tabindex="-1" role="dialog"
                                     aria-labelledby="bookingModalLabel" aria-hidden="true"
                                     th:attrappend="id=${booking.getId()}">
                                    <div th:replace="fragments/booking_modal :: booking_modal">...</div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<div th:replace="fragments/footer :: footer">...</div>
</body>
</html>

