<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/header :: head (title='Room')">
</head>
<body>


<div class="container-fluid bg-danger text-white">
  <h3 class="p-1">
    UoB Engineering Study Space Booking App
    <a href="adminhome"><span class="oi oi-home text-white float-right" aria-hidden="true"></span></a>
  </h3>
</div>

<div class="container-fluid pt-1">
  <h2>Students:</h2>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>ID</th>
          <th>Email</th>
          <th>Course</th>
          <th>Year of Study</th>
        </tr>
      </thead>
      <tr onclick="document.location = 'viewstudent';">
        <td>Zack</td>
        <td>17646</td>
        <td>zd17646@bristol.ac.uk</td>
        <td>Computer Science</td>
        <td>2</td>
      </tr>
      <tr onclick="document.location = 'viewstudent';">
        <td>Aidan</td>
        <td>12832</td>
        <td>ah23123@bristol.ac.uk</td>
        <td>Computer Science</td>
        <td>3</td>
      </tr>
    </table>
  </div>
</div>


<div th:replace="fragments/footer :: footer">...</div>
</body>
</html>
