<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/header :: head (title='Room')">
</head>
<body>


<div th:replace="fragments/header :: header">&nbsp;</div>



<div class="container-fluid pt-3">
  <div class="row">
    <div class="col-md-6 col-12 mx-auto">
      <div class="card">
        <div class="card-head bd-danger text-white">
          <div class="container-fluid bg-danger text-white">
            <h3 class="py-2">
              Room:
              <a href="viewrooms"><span class="oi oi-x text-white float-right" aria-hidden="true"></span></a>
            </h3>
          </div>
        </div>
        <div class="card-body">
          <div class="container-fluid">
            <table class="table">
              <tr>
                <th>Building:</th>
                  <td><span th:text="${room.getBuilding()}"/></td>
                </tr>
                <tr>
                  <th>Room:</th>
                  <td><span th:text="${room.getRoomNo()}"/></td>
                </tr>
                <tr>
                  <th>Capacity:</th>
                  <td><span th:text="${room.getCapacity()}"/></td>
                </tr>
                <tr>
                  <th>ID:</th>
                  <td><span th:text="${room.getId()}"/></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div th:replace="fragments/footer :: footer">...</div>
</body>
</html>

