<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">

<head th:include="fragments/header :: head (title='Room')">
</head>
<body>


<div th:replace="fragments/header :: header">&nbsp;</div>

<div class="container-fluid pt-1">
    <div class="row">
        <div class="col-md-8 col-12 mx-auto">

            <div th:if="${rooms.isEmpty()}" class="container text-center">
                <h2 class="pt-5 pb-3">There are no rooms</h2>
                <a href="/home" class="btn btn-danger text-center">Take me home</a>
            </div>

            <div th:unless="${rooms.isEmpty()}">
                <h2>Rooms:</h2>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Building</th>
                        <th>Room</th>
                        <th>Capacity</th>
                        <th>Info</th>
                    </tr>
                    </thead>
                    <tr th:each="room: ${rooms}">

                        <td><span th:text="${room.getRoomNo()}"/></td>

                        <td><span th:text="${room.getBuilding()}"/></td>

                        <td><span th:text="${room.getCapacity()}"/></td>

                        <td>
                            <button type="button" class="btn btn-danger" data-toggle="modal"
                                    data-target="#exampleModal">
                                <span class="typcn typcn-info-large text-white"></span>
                            </button>

                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Room:</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <tr>
                                                        <th>Building:</th>
                                                        <td><span th:text="${room.getBuilding()}"/></td>
                                                    </tr>
                                                    <tr>
                                                        <th>Room:</th>
                                                        <td><span th:text="${room.getRoomNo()}"/></td>
                                                    </tr>
                                                    <tr>
                                                        <th>Capacity:</th>
                                                        <td><span th:text="${room.getCapacity()}"/></td>
                                                    </tr>
                                                    <tr>
                                                        <th>ID:</th>
                                                        <td><span th:text="${room.getId()}"/></td>
                                                    </tr>
                                                    <span sec:authorize="hasAuthority('admin')">
                                                        <tr>
                                                            <th>Number of Bookings:</th>
                                                            <td>
                                                                <span th:text="${room.getBookings().size()}"/>
                                                            </td>
                                                        </tr>
                                                    </span>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>


<div th:replace="fragments/footer :: footer">...</div>
</body>
</html>

