<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/header :: head (title='Room')">
</head>
<body>


<div class="container-fluid bg-danger text-white">
  <h3 class="p-1">
    UoB Engineering Study Space Booking App
    <a href="adminhome"><span class="oi oi-home text-white float-right" aria-hidden="true"></span></a>
  </h3>
</div>

<div class="container-fluid pt-5">
  <div class="row">
    <div class="col-md-6 col-12 mx-auto">
      <div class="card">
        <div class="card-head bd-danger text-white">
          <div class="container-fluid bg-danger text-white">
            <h3 class="py-2">
              Student:
              <a href="viewstudents"><span class="oi oi-x text-white float-right" aria-hidden="true"></span></a>
            </h3>
          </div>
        </div>
        <div class="card-body">
          <div class="container-fluid">
            <table class="table">
              <tr>
                <th>Name:</th>
                  <td>Zack</td>
                </tr>
                <tr>
                  <th>ID:</th>
                  <td>17646</td>
                </tr>
                <tr>
                  <th>Email:</th>
                  <td>zd17646@bristol.ac.uk</td>
                </tr>
                <tr>
                  <th>Course:</th>
                  <td>Computer Science</td>
                </tr>
                <tr>
                  <th>Year of Study</th>
                  <td>2</td>
                </tr>
                <tr>
                  <th>No. of Bookings:</th>
                  <td>5</td>
                </tr>
              </table>
            </div>
            <div class="container">
              <button class="btn btn-danger text-center btn-block" data-toggle="collapse" data-target="#collapsible1">Blacklist Student</button>
              <div id="collapsible1" class="collapse">
                <div class="container">
                  <p class="pt-3">Are you sure you want to blacklist this student?</p>
                  <a href="viewstudents" class="btn btn-danger text-center btn-block">Yes, blacklist this student.</a>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div th:replace="fragments/footer :: footer">...</div>
</body>
</html>
